PORT=4000
PORT_DB=5432

CRYPT_SALT=10
JWT_SECRET_KEY=3lQdbCbUnPob6ZccZc9EgQa3HKg23oyI
JWT_SECRET_REFRESH_KEY=sOklgR3roDDimY1lgIreoXGNyLUhPYGj
TOKEN_EXPIRE_TIME=1h
TOKEN_REFRESH_EXPIRE_TIME=24h

POSTGRES_USER=emarf
POSTGRES_PASSWORD=secret
POSTGRES_DB=emarf-db

DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@emarf-postgres-db:${PORT_DB}/${POSTGRES_DB}?schema=public

LOG_LEVEL=0
LOG_MAX_FILE_SIZE=20